body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-map {
  width: 100%;
}

/* menu top */
.menu {
  right: 0;
  margin:0; padding:0;
  margin-top: 20px;
  /* margin-right: 20px; */
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 12px;
}
.menu ul {
  cursor: pointer;
  margin:0; padding:0;
  list-style-type: none;
  display: flex;
}
.menu .first-menu li {
  /* display: inline-block; */
  font-weight: lighter;
  padding: 10px;
}
.menu .first-menu li:first-child {
  padding-top:12px;
  padding-right: 15px;
}
.menu select {
  margin-top:0px;
  background: none;
  color: white;
  border: none;
  font-size: 12px;
}
.menu .marker-img {
  width: 10px;
  position:absolute;
  margin-left:-10px;
}
.menu .menu-img {
  width: 15px;
  margin-top:3px;
}
/* overlay on bottom */
.overlay {
  bottom: 0;
  width: 95%;
  position: absolute;
  left: 2.5%;
  z-index: 1000;
  margin-bottom: 2.5%;

}
.overlay .left-panel {
  float: left;
}
.overlay .right-panel {
  float: right;

}
.overlay .left-panel, .overlay .right-panel {
  padding: 10px;
  background: #3B444E;
  border-radius: 5px;
  height: 80px;
}
.overlay .left-panel.city, .overlay .right-panel.city {
  padding: 10px;
  transform: scale(0.8);
  background: #000000;
  border-radius: 5px;
  height: 50px;
}
.overlay .left-panel.city div, .overlay .right-panel.city div {
  transform: scale(0.9);
  margin-top:-15px;
}

.overlay .left {
  color: #e4e3e3;
  margin-left: 25px;
  text-align: center;
  display: inline-block;
  margin-right: 25px;
}

.left p {
  line-height: 0;
  margin-bottom: 0;
  font-size: 28px;
}

.panelText {
  color: #363636;
  margin-top: -38px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.city .panelText {
  color: white;
}

.overlay .right {
  display: inline-block;
}

.overlay .right .widget {
  border-radius: 5px;
  border: 2px solid;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  width: 25%;
  font-weight: bold;
  padding: 5px;
}

.widget:not(:last-child) {
  margin-right: 15px;
}

.widget.red {
  border-color: #b56356;
  color: #b56356;
}

.widget.yellow {
  border-color: #957844;
  color: #957844;
}

.widget.green {
  border-color: #58986f;
  color: #58986f;
}



/* custom popup */
.popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid transparent;
}
/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  /* padding-right: 10px; */
  transform: translate(-50%, -100%);
  /* Style the info window. */
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
  border-radius: 200px;
  cursor: pointer;
  transition: 0.5s;
}
.popup-bubble-content:hover {
  opacity: 0.9;
}
.Jaipur, .Hyderabad {
  transform: translate(5%, -50%);
}
.Delhi, .Mumbai, .Bangalore {
  transform: translate(-105%, -50%);
}
.popup-bubble-content div {
  display: inline-block;
}
.popup-bubble-content .circle-letter {
  margin-top:6px;
  /* padding: 5px; */
  background: white;
  border-radius: 100px;
  width: 16px;
  height: 11px;
  font-size: 8px;
  text-align: center;
  padding-top:3px;
}
.Hyderabad .circle-letter,
.Jaipur .circle-letter {
  float: left;
}
.Delhi .circle-letter,
.Mumbai .circle-letter,
.Bangalore .circle-letter {
  float: right;
  margin-left: 15px;
}
.popup-bubble-content .list-trips ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: white;
}

.right > div {
  cursor:pointer;
}
.right > div.selected {
  background: url('/assets/check.png') no-repeat top right;
}

/* city styling */
.Bangalore {
  background: #50E3C2;
}
.Delhi {
  background: #ED7159;
}
.Jaipur {
  background: #59597E;
}
.Mumbai {
  background: #9BC769;
}
.Hyderabad {
  background: #DAD156;
}
